:root {
  background: #eee;
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2;
}

* {
  font: inherit;
  box-sizing: border-box;
}

html,
body,
h1,
h2 {
  margin: 0;
  padding: 0;
}

body {
  padding: 5vmin;
}

h1,
h2 {
  margin: 1em auto 0.3em;
}

h1 {
  font-size: 1.8rem;
}

h1 small,
h2 {
  font-size: 1.5rem;
}

div.grid {
  display: flex;
  flex-wrap: wrap;
}

.card,
button {
  padding: 0.5em 1em;
  margin: 1em;
  background: white;
}

.card {
  border-radius: 0.5rem;
}

button {
  border: 1px solid #ddd;
}

button.add {
  border-radius: 1rem;
}

button.add::before {
  content: "➕";
  padding-right: 0.5em;
}

input {
  display: block;
  height: 1.5em;
  width: 100%;
}

input:not(:focus) {
  background: transparent;
  border: none;
}

small,
.small {
  font-size: 0.7em;
}

table {
  width: 100%;
}

tbody {
  border-bottom: 1px solid #ddd;
  background: white;
  border: 1px solid #ddd;
}

td {
  padding: 0.5em 1em;
  text-align: center;
}

td.action {
  padding: 0;
}

td.action button {
  margin: 0;
  border: none;
}

.horizontal-scroll {
  overflow-x: auto;
}
