:root {
  background: #eee;
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2;
}

* {
  font: inherit;
  box-sizing: border-box;
}

html,
body,
h1,
h2 {
  margin: 0;
  padding: 0;
}

body {
  padding: 1rem;
  padding-top: 3rem;
}

h1,
h2 {
  margin: 1.5rem auto 0.5rem;
}

h1 {
  font-size: 1.8rem;
}

h1 small,
h2 {
  font-size: 1.5rem;
}

div.grid {
  display: flex;
  flex-wrap: wrap;
}

.card,
button {
  padding: 0.5em 1em;
  margin: 1em;
  background: white;
}

.card {
  border-radius: 0.5rem;
}

button {
  border: 1px solid #ddd;
}

button.add {
  border-radius: 1rem;
}

button.add::before {
  content: "➕";
  padding-right: 0.5em;
}

input {
  display: block;
  height: 1.5em;
  width: 100%;
}

input:not(:focus) {
  background: transparent;
  border: none;
}

small,
.small {
  font-size: 0.7em;
}

table {
  width: 100%;
}

tbody {
  border-bottom: 1px solid #ddd;
  background: white;
  border: 1px solid #ddd;
}

td {
  padding: 0.5em 1em;
  text-align: center;
}

td.action {
  padding: 0;
}

td.action button {
  margin: 0;
  border: none;
}

.horizontal-scroll {
  overflow-x: auto;
}

nav {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3rem;
  padding: 0.5rem 5vmin;
  border-bottom: 1px solid #ddd;
  background: white;
}

nav > div:first-child {
  grid-column: 1;
  grid-row: 1;
}

nav > div:last-child {
  grid-column: 2;
  grid-row: 1;
  justify-self: end;
}

nav > .logo {
  grid-column: 1 / span 2;
  grid-row: 1;
  justify-self: center;
  color: #aaa;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

nav button {
  margin: 0;
}

nav button + button {
  margin-left: 1rem;
}

fieldset {
  padding: 0.5rem;
  margin: 1rem 0;
  border: 1px solid #ddd;
  background: white;
}

fieldset label {
  margin-left: 1rem;
}

input[type="radio"] {
  display: inline-block;
  width: initial;
  height: initial;
}
