html,
body {
  padding: 1rem;
  margin: 0;
  background: #eee;
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: 300;
}

h1 small {
  display: block;
  font-style: italic;
  font-size: 0.5em;
}

div.grid {
  display: flex;
  flex-wrap: wrap;
}

button {
  font: inherit;
  padding: 0.5em 1em;
  margin: 1em;
  background: white;
  border: 1px solid #ddd;
}

.add {
  border-radius: 1rem;
}

.add::before {
  content: "➕";
  padding-right: 0.5em;
}
